.postsgrid{ width: 100%; }

@media screen and (min-width: 576px){
    .postsgrid{
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        gap: 2.5px;
        justify-items: center;
    }
}
@media screen and (min-width: 992px){
    .postsgrid{ grid-template-columns: repeat(5, 1fr); }
    .btn-container{ height: 200px; }
}