.section-description{
    font-weight: 350;
    font-size: var(--fz-section-description);
    color: var(--light-black-clr);
    line-height: 1.5;
}
.section-description > p:not(:first-child){
    margin-top: 1em;
}

@media screen and (min-width: 768px){
    .section-description{
        max-width: 45%;
    }
}