@font-face{
    font-family: 'Rubik';
    src: url(../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf) format("truetype"),
        url(../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
}

:root{
    --black-clr: #000000;
	--light-black-clr: #303133;
	--light-gray-clr: #eaeaea;
	--cyan-gray-clr: #abb8c3;
	--white-clr: #ffffff;
	--pale-pink-clr: #f78da7;
	--vivid-red-clr: #cf2e2e;
	--vivid-orange-clr: #ff6900;
	--amber-clr: #fcb900;
	--light-green-cyan-clr: #7bdcb5;
	--vivid-green-cyan-clr: #00d084;
	--light-blue-cyan-clr: #8ed1fc;
	--vivid-blue-cyan-clr: #0693e3;
	--vivid-purple-clr: #9b51e0;
	--selection-clr: #f4c87c;
	
	--fz-page-title: 1.85rem;
	--fz-page-desc: .95rem;
	--fz-nav-link: 1rem;
	--fz-link-see-more: .85rem;
	--fz-logo: 1.15rem;
	--fz-sections-title: .95rem;
	--fz-section-description: 1.05rem;
	--fz-section-desc-title: 2.10rem;
	--fz-slashed-title-specific: .85rem; 
	--fz-article-title: .90rem;
	--fz-impact-text: 1.80rem;
	--fz-article-date: .80rem;
	--fz-subsection-title: 1.20rem;
	--fz-text-aboutus: 1.1rem;
}
body{ 
	font-family: 'Rubik'; 
	margin: 0;
	padding: 0;
}
body.--no-overflow{ overflow: hidden; }
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
button{ cursor: pointer; }
*::selection{
	background-color: var(--amber-clr);
}
.sr-only{
	position: absolute;
	top: auto;
	left: -100000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#app{
	position: relative;
	min-height: 100vh;
}
#modal-root{
	display: block;
	position: sticky;
	inset: 0;
	z-index: 10;
	height: 0vh;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
#modal-root.--active{
	opacity: 1;
	height: 100vh;
}
.container{
	max-width: 80%;
    margin: 0 auto;
}
@media screen and (min-width: 576px){
	:root{
		--fz-nav-link: 1.15rem;
		--fz-logo: 1.20rem;
	}
}
@media screen and (min-width: 768px){
	:root{
		--fz-page-title: 2.05rem;
	}
}
@media screen and (min-width: 992px){
	:root{
		--fz-page-title: 3rem;
		--fz-page-desc: 1.15rem;
		--fz-nav-link: .95rem;
		--fz-impact-text: 3rem;
	}
}
@media screen and (min-width: 1200px){
	:root{
		--fz-impact-text: 3.25rem;
	}
}