.last-destinations > div{
    display: flex;
    flex-direction: column;
}
.last-destinations__title{
    display: inline-block;
    max-width: max-content;
    margin: 0 auto;
    padding: 3em 0 2em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--fz-sections-title);
    color: var(--light-black-clr);
}
.last-destinations__title::after{
    content: '';
    display: block;
    width: 60%;
    height: 2px;
    margin: 1.75em auto 0;
    background-color: var(--light-gray-clr);
}
.about-section{
    background-image: url(../../assets/images/discover-world.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white-clr);
    text-shadow: 
                1px -1px 3px var(--light-black-clr),
                1px 2px 3px var(--light-black-clr);
    text-transform: uppercase;
}
.about-section__title{
    font-size: var(--fz-impact-text);
    font-weight: 400;
}
.about-section__about-us .title{ letter-spacing: 4px; }
.about-section__about-us .content{ padding: 1em 0 2em; }
.about-section__about-us .link{
    letter-spacing: 3px;
    font-size: calc(var(--fz-nav-link) - 0.10em);
    border-bottom: solid 2px transparent;
    transition-property:  color, border-bottom;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}
.about-section__about-us .link:focus{
    color: var(--amber-clr);
    border-bottom-color: var(--amber-clr);
    outline: none;
}
.photo-video-section,
.tips-section{
    padding-top: 3em;
}
.articles__hightlights{ padding: 2.5em 0 1.5em; }
.articles__no-hightlights{ margin: 4em 0 1em; }
.tips-section{ background-color: #f1f1f1c7; }
.tips-article{
    display: flex;
    flex-direction: column;
}
@media (hover:hover) and (pointer:fine){
    .about-section__about-us .link:hover{
        color: var(--amber-clr);
        border-bottom-color: var(--amber-clr);
    }
}
@supports selector(:focus-visible){
    .about-section__about-us .link:focus{
        color: var(--light-black-clr);
        border-bottom-color: transparent;
    }
    .about-section__about-us .link:focus-visible{
        color: var(--amber-clr);
        border-bottom-color: var(--amber-clr);
    }
}
@media screen and (min-width: 576px){
    .articles__hightlights{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }
    .articles__no-hightlights{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media screen and (min-width: 768px){
    .about-section > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
    }
}
@media screen and (min-width: 992px){
    .about-section__about-us .content{
        line-height: 1.75;
        font-weight: 500;
    }
}
@media screen and (min-width: 1110px){
    .photo-video-section > div{
        display: flex;
        flex-direction: column;
    }
    .photo-video-section,
    .tips-section{
        padding-top: 0;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
        margin-top: 2.5em;
    }
    .articles__hightlights{ padding: 0; }
    .articles__no-hightlights{
        grid-auto-rows: min-content;
        row-gap: 1.5em;
        margin: 0;
    }
}
@media screen and (min-width: 1200px){
    .about-section{ padding: 2em 0; }
    .about-section__about-us{
        padding: 2em 0;
        max-height: 100%;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1400px){
    .about-section{ padding: 5em 0; }
}