.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
}
.link{
    position: relative;
}
.link:not(:first-child){ margin-top: 1em; }
.box-img{
    position: relative;
    color: var(--white-clr);
}
.box-img::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3) 60%, black);
}
.box-img::after{
    content: '\203A';
    display: inline-block;
    height: max-content;
    width: max-content;
    position: absolute;
    top: 50%;
    bottom: -50%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
.box-img [role='presentation']{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    text-transform: uppercase;
}
.box-img::before,
.box-img::after,
.box-img [role='presentation']{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.link:focus{ outline: none; }
.link:focus .box-img::before,
.link:focus .box-img::after,
.link:focus .box-img [role='presentation']{
    opacity: 1;
}
.article__img{ 
    display: block;
    max-width: 100%;
}
.article__title{
    padding: 1em 0;
    font-size: var(--fz-article-title);
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 2px;
    color: var(--light-black-clr);
    transition: color .2s ease-in;
}
.article__title:focus{ color: var(--amber-clr); }

@supports selector(:focus-visible){
    .link:focus .box-img::before,
    .link:focus .box-img::after,
    .link:focus .box-img [role='presentation']{
        opacity: 0;
    }
    .link:focus-visible{ outline: none; }
    .link:focus-visible .box-img::before,
    .link:focus-visible .box-img::after,
    .link:focus-visible .box-img [role='presentation']{
        opacity: 1;
    }
    .link:focus .article__title{ color: var(--light-black-clr); }
    .link:focus-visible .article__title{ color: var(--amber-clr); }
}
@media (hover:hover) and (pointer:fine){
    .link:hover .box-img::before,
    .link:hover .box-img::after,
    .link:hover .box-img [role='presentation']{
        opacity: 1;
    }
    .link:hover .article__title{ color: var(--amber-clr); }
}
@media screen and (min-width: 1110px){
    .section{
        flex-direction: row;
    }
    .link:not(:first-child){ margin: 0 0 0 1em !important; }
    .article__img{
        min-height: 500px;
        object-fit: cover;
        object-position: center;
    }
}