.slashed-title{
    font-weight: 500;
    font-size: var(--fz-link-see-more);
    text-transform: uppercase;
    color: var(--light-black-clr);
    letter-spacing: .15em;
}
.slashed-title.--specific-section{
    font-size: var(--fz-slashed-title-specific);
    color: var(--amber-clr);
    letter-spacing: .25em;
}
.slashed-title::before{
    content: '\002F';
    margin-right: .5ch;
}