.intro-view{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white-clr);
}
.intro-view__title{
	margin: 1em 0 .5em 0;
	font-weight: 300;
	font-size: var(--fz-page-title);
	text-transform: uppercase;
	text-align: center;
}
.intro-view__description{
	text-transform: uppercase;
	font-weight: 300;
	font-size: var(--fz-page-desc);
	text-align: center;
}
.intro-view__title,
.intro-view__description{
	--shadow-color: rgba(0, 0, 0, .6);
	text-shadow: 2px 0 5px var(--shadow-color),
				 4px 0 5px var(--shadow-color),
				 -2px -2px 5px var(--shadow-color),
				 -2px 2px 5px var(--shadow-color);
}
