.footer{
    position: relative;
    padding: 1em 1.5em;
    background-color: var(--black-clr);
    color: var(--white-clr);
    font-size: inherit;
}
.slash{
    margin: 0 .25em;
}
.gitword{ 
    text-decoration: underline;
    transition: color .2s ease-in; 
}
.gitword:focus{ color: var(--amber-clr); }
@supports selector(:focus-visible){
    .gitword:focus{ color: currentColor; }
    .gitword:focus-visible{ 
        outline: none;
        color: var(--amber-clr); 
    }
}
@media (hover:hover) and (pointer:fine){
    .gitword:hover{ color: var(--amber-clr); }
}